<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 3</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/CSS/style.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <!--<script src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/JS/javascript.js"></script>-->

</head>
<body>
<!--HEADER-->
<div class="container-fluid container_style1">

    <!--Navigation Bar-->
    <nav class="navbar navbar_style fixed-top navbar-expand-lg navbar-dark navbar_style">
        <div class="container-fluid">
          <a class="navbar-brand navbrand_style" href="#">LOGO</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse">
                 <ul class="nav navbar-nav">

                    <li class="nav-item navitem_style">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    </li>

                    <li class="nav-item navitem_style">
                       <a class="nav-link active" href="#">WORK</a>
                    </li>

                    <li class="nav-item navitem_style">
                       <a class="nav-link active" href="#">CONTACT</a>
                    </li>

                    <li class="nav-item navitem_style">
                       <a class="nav-link active" href="#" >ABOUT ME</a>
                    </li>

                 </ul>

                 <ul class="nav navbarright_style navbar-nav ms-auto">

                    <li class="nav-item navitem_style">
                        <a class="nav-link active" href="#">SIGN UP</a>
                    </li>

                    <li class="nav-item navitem_style">
                        <a class="nav-link active" href="#">LOGIN</a>
                    </li>

                 </ul>
            </div>
        </div>
    </nav>

    <!--Isi Header-->
    <div class="header">
     <h1>PLAY TRADITIONAL GAME</h1>
     <p>Experience new traditional game play</p>
     <button type="button" class="btn btn-warning btn_style1">
       <a href="game"> <B>PLAY NOW</B> </a>
      </button>
     <p class="thestory">The Story</p>
     <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/scroll down.svg" alt="Scroll Down">
    </div>

</div>
<!--THE GAMES-->
<div class="container-fluid container_style2">
    <div class="thegames">
        <p>What's so special?</p>
        <h1>THE GAMES</h1>
    </div>

    <div class="carousel">
        <button class="carousel__button carousel__button--left">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/switch-3.svg" alt="Button Left">
        </button>

        <div class="carousel__track-container">

          <ul class="carousel__track">

            <li class="carousel__slide">
              <img class="carousel__image" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/rockpaperstrategy-1600 1.png" alt="Image 1">
            </li>

            <li class="carousel__slide">
              <img class="carousel__image" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/rockpaperstrategy-1600 1.png" alt="Image 2">
            </li>

            <li class="carousel__slide">
              <img class="carousel__image" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/rockpaperstrategy-1600 1.png" alt="Image 3">
            </li>

            <li class="carousel__slide">
              <img class="carousel__image" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/rockpaperstrategy-1600 1.png" alt="Image 4">
            </li>

            <li class="carousel__slide">
              <img class="carousel__image" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/rockpaperstrategy-1600 1.png" alt="Image 5">
            </li>

          </ul>

        </div>

        <button class="carousel__button carousel__button--right">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/switch-2.svg" alt="Button Right">
        </button>

        <div class="carousel__nav">
          <button class="carousel__indicator current-slide"></button>
          <button class="carousel__indicator"></button>
          <button class="carousel__indicator"></button>
          <button class="carousel__indicator"></button>
          <button class="carousel__indicator"></button>
        </div>

    </div>

</div>

<!--FEATURES-->
<div class="container-fluid container_style3">
    <div class="thefeatures">

        <div class="thefeatures_title">
            <p>What's so special?</p>
            <h1>FEATURES</h1>
        </div>
        
        <div class="thefeatures_content">

            <div class="progressbar">
              <div class="top">
                  <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/Ellipse 1.png" alt="">
              </div>
              <div class="mid">
                  <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/progress bar.png" alt="">
              </div>
              <div class="bottom">
                  <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/Ellipse.png" alt="">
              </div>
              <div class="bottom_">
                <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/Ellipse.png" alt="">
              </div>
            </div>

            <div class="thefeatures_description">
              <p class="thefeatures_p1">TRADITIONAL GAMES</p>
              <p class="thefeatures_p2">If you miss your childhood, we provide many traditional games here</p>
              <p class="thefeatures_p3">GAME SUITE</p>
              <p class="thefeatures_p3">TBD</p>
            </div>

        </div>

    </div>


</div>

<!--REQUIREMENTS-->
<div class="container-fluid container_style4">
  
    <h1>SYSTEM REQUIREMENTS</h1>
    <p>Can My Computer Run this game?</p>

  <div class="table_requirements">
    <table class="table table-bordered">
      <tbody>
        <tr>

          <td class="table_requirements_content">
            <p class="requirements_content_title">OS:</p>
            <p class="requirements_content">Windows 7 64-bit only <br/>(No OSX support at this time)</p>
          </td>

          <td class="table_requirements_content">
            <p class="requirements_content_title">PROCESSOR:</p>
            <p class="requirements_content">Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8 GHZ</p>
          </td>

        </tr>

        <tr>

          <td class="table_requirements_content">
            <p class="requirements_content_title">MEMORY:</p>
            <p class="requirements_content">4 GB RAM</p>
          </td>

          <td class="table_requirements_content">
            <p class="requirements_content_title">STORAGE:</p>
            <p class="requirements_content">8GB available space</p>
          </td>

        </tr>

        <tr>

          <td colspan="2" class="table_requirements_content">
            <p class="requirements_content_title">GRAPHICS:</p>
            <p class="requirements_content">NVIDIA GeForce GTX 660 2GB or <br/> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>

<!--TOP SCORES + NEWSLETTER-->
<div class="container-fluid container_style5">

  <div class="row row_style">
    
    <!--BARIS PERTAMA-->
    <div class="col-7"></div>
    <div class="col-5">

      <div class="card card_style">

        <div class="card-body row">

          <div class="col-2">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/image.jpg" class="rounded-circle image_profile" alt="">
          </div>

          <div class="col-8">
            <h5 class="card-title card_title_name">Jade Griffin</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nerdreactor</h6>
          </div>

          <div class="col-2">
            <img class="twitter_card" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/twitter.svg" alt="">
          </div>

          <div class="col-12">
            <p class="card-text">The next big thing in the world of streaming and survival games.</p>
          </div>

          <div class="col-12">
            <p class="card-text text-muted">December 20,2018</p>
          </div>

        </div>

      </div>
    </div>

    <!--BARIS KEDUA-->
    <div class="col-1"></div>
    
    <div class="col-5">
      <h1>TOP SCORES</h1>
      <p>This top score from various games provided on this platform</p>
      <button type="button" class="btn btn-warning btn_style2"><B>see more</B></button>
    </div>

    <div class="col-4">
      <div class="card card_style">

        <div class="card-body row">

          <div class="col-2">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/image.jpg" class="rounded-circle image_profile" alt="">
          </div>

          <div class="col-8">
            <h5 class="card-title card_title_name">Jade Griffin</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nerdreactor</h6>
          </div>

          <div class="col-2">
            <img class="twitter_card" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/twitter.svg" alt="">
          </div>

          <div class="col-12">
            <p class="card-text">The next big thing in the world of streaming and survival games.</p>
          </div>

          <div class="col-12">
            <p class="card-text text-muted">December 20,2018</p>
          </div>

        </div>

      </div>
    </div>

    <div class="col-2"></div>

    <!--BARIS KETIGA-->
    <div class="col-7"></div>
    <div class="col-5">

      <div class="card card_style">

        <div class="card-body row">

          <div class="col-2">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/image.jpg" class="rounded-circle image_profile" alt="">
          </div>

          <div class="col-8">
            <h5 class="card-title card_title_name">Jade Griffin</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nerdreactor</h6>
          </div>

          <div class="col-2">
            <img class="twitter_card" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/twitter.svg" alt="">
          </div>

          <div class="col-12">
            <p class="card-text">The next big thing in the world of streaming and survival games.</p>
          </div>

          <div class="col-12">
            <p class="card-text text-muted">December 20,2018</p>
          </div>

        </div>

      </div>
    </div>
    
  
  </div>
  
  <!--Newsletter>-->
  <div class="row row_style2">
    
    <div class="col-6">
      <img class="image_piala" src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/Piala.png" alt="">
    </div>

    <div class="col-6">
      <h3 class="newslettersubscribe">Want to stay in touch?</h3>
      <h1>NEWSLETTER SUBSCRIBE</h1>
      <P> In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</P>

      <div style="width: 100%;">
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="email" placeholder="youremail@binar.com" name="email">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-warning btn_style3">Subscribe Now</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

    <!--NAVBAR BOTTOM-->
  <div class="row">
    <div class="col-3"></div>
        
        <div class="col">
          <p class="navbarbottom_item">MAIN</p>
        </div>
        
        <div class="col">
          <P class="navbarbottom_item">ABOUT</P>
        </div>
  
        <div class="col-md-auto">
          <P class="navbarbottom_item">GAME FEATURES</P>
        </div>
  
        <div class="col-md-auto">
          <P class="navbarbottom_item">SYSTEM REQUIREMENTS</P>
        </div>
  
        <div class="col">
          <P class="navbarbottom_item">QUOTES</P>
        </div>

        <div class="col">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/facebook.svg" alt="">
        </div>

        <div class="col">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/twitter-1.svg" alt="">
        </div>

        <div class="col">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/Vector.svg" alt="">
        </div>
        
        <div class="col">
          <img src="/Users/kennytandiadi/Downloads/Coding/Binar_Academy/Challenge_Chapter_3-wbs/Binar challenge FW C3/twitch.svg" alt="">
        </div> 

        <div class="col"></div>
       

    <hr class="hr_style">
    <div class="w-100"></div>

    <!--BOTTOM-->
    <div class="col-1"></div>
    <div class="col-3 col_stylebottom">
      <p class="navbarbottom_item"> © 2018 Your Games, Inc. All Rights Reserved</p>
    </div>

    <div class="col-2"></div>

    <div class="col-5 navbarbottom">
      <P class="navbarbottom_item">Code of Conduct</P>
      <P class="navbarbottom_item">|</P>
      <P class="navbarbottom_item">Terms of Services</P>
      <P class="navbarbottom_item">|</P>
      <p class="navbarbottom_item">Privacy Policy</p>
    </div>

    <div class="col"></div>

  </div>

</div>

</body>
</html>