<h1>Sign In</h1>
<form action="/login" method="POST">

    <label for="user">User</label>
    <br>
    <input type="text" name="user" placeholder="User Name">
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Enter Password">
    <br>

    <button type="submit"> Sign Up</button>

</form>

<button>
    <a href="/"> <B>Back</B> </a>
</button>